html {
  font-size: 62.5%;
}

body {
  background: #f9f9f9;
  font-size: 1.6rem;
}
header {
  background-color: #d7d5ff;
  display: flex;
  justify-content: space-around;
  height: 560px;
  align-items: center;
}
header .cabecalho {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1440px;
  height: 560px;
}

header img {
  width: 500px;
  height: 359.75px;
}

.text {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
}

.text h1 {
  font-size: 3.6rem;
  line-height: 4.7rem;
  width: 349px;
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.text p {
  font-size: 1.9rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
  width: 349px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.text button {
  background: #6c63ff;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  text-align: center;
  color: #ffff;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}

button:hover {
  transform: scale(1.1);
}

.container {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 90%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 60px;
  justify-content: center;
  margin: 100px 0;
  margin-left: 65px;
}

.card {
  width: 340px;
  height: 400px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card h2 {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #2b2b2b;
  margin: 24px 0 0 25px;
  width: 168px;
}

.card p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;

  line-height: 3rem;
  margin: 22px 0 0 25px;
  color: #555555;
  text-align: justify;
  width: 200px;
}

.red .cardColor {
  background: #ff6363;
  height: 50%;
}
.blue .cardColor {
  background: #63ecff;
  height: 50%;
}
.pink .cardColor {
  background: #f363ff;
  height: 50%;
}
.green .cardColor {
  background: #63ff73;
  height: 50%;
}
.yellow .cardColor {
  background: #ffdd63;
  height: 50%;
}
.violet .cardColor {
  background: #6663ff;
  height: 50%;
}

section {
  background-color: #d7d5ff;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contato {
  display: flex;
  justify-content: center;
}

form h3 {
  width: 273px;
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4rem;
  padding-top: 50px;
  padding-bottom: 60px;
}

.formGroup input,
textarea {
  width: 300px;
  height: 65px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  padding-left: 6px;
}
.formGroup textarea {
  resize: none;
  height: 165px;
  width: 300px;
}

.botaoForm {
  width: 300px;
  height: 41px;
  background: #6c63ff;
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.4rem;
}

.containerButton {
  height: 10px;
}
